<%= form_with(model: [@building], local: true) do |form| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited
        this building from being saved:</h2>
      <ul>
        <% building.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form>
    <div class="form-group">
      <div class="label">
      <%= form.label :name %>
      </div>
      <div class="input">
      <%= form.text_field :name %>
      </div>
    </div>
    <div class="form-group">
      <div class="label">
      <%= form.label :address %>
      </div>
      <div class="input">
      <%= form.text_field :address %>
      </div>
    </div>
    <div class="form-group">
      <div class="label">
      <%= form.label :city %>
      </div>
      <div class="input">
      <%= form.text_field :city %>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Create Building</button>
  </form>
<% end %>
